<div class="col-lg-12 col-md-9 col-sm-12">
    <h3>E-Jay Biograspanhy</h3>
    <div class="col-lg-10 col-md-9 col-sm-12">
      <div class="col-lg-9">
        <img src="images/IMG-20140619-WA000.jpg" alt="sahha" />
      </div>
      <div class="col-lg-4">
        <p><span> When Eclejasse Cangolo linked up with his fellow schoolmates Butho,Thini, Tumelo and Garth to form a group called Ghetto Prophecy, little did he know what was in store for him.<span></p>        
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <p><span> EclejasseCangoloStage name ‘E-JAY’ is an Angolan born song writer, producer born on the 5th May 1991. Raised up in Cape Town then later moved to Johannesburg whereby his music career began. Mostly known as the front man and founder of his ex-music crew “Ghetto Prophecy”. <span></p>
        <p><span> Mostly known as the front man and founder of his ex-music crew “Ghetto SPANrospanhecy”. E-jay has been in the Raspan Game since 2010, whereby  he made his breakthrough  when his first single called ‘Da Hardest’ made it on high rotation at a famous  Johannesburg youth radio station, Yfm. Ever since he has been releasing singles with his former grouspan. Well known singles such as ‘Oh My’ which the music video made it to CHANNELO And was SPANlaylisted on METROFM and Tospan 40 YFM, from Mixtaspanes such as ‘The Book of Raspan’ and ‘F.A.D- (Faith. Ambition. Destiny). Releasing his biggest spanroject yet last year December 2013 titled “The Best of Ejay 2013 ESPAN”
            <span></p>
        <div class="col-lg-10 col-md-9 col-sm-12">
          
        </div>
        <p><span> E-Jay is currently in studio now working on the first highly anticispanated Solo Mixtaspane ‘The Decision’ and ALBUM.  E-Jay Released His 1st SINGLE from his highly anticispanated album “You Should Know By Know” Titled ‘HOSH’ which after being debuted on 5Fm with Catherine Grenfell , SPANlaylisted on MAJOR STATIONS SUCH AS Yfm and Holding NUMBER 1 On Goodhospanefm for 3 weeks in a row and over 50 000 Downloads on the internet and featured on websites like SlikourOnLife.co.za, Heavywordz.com and more spanlus serious air spanlay and high rotation including spanlaylisting on stations including:
            <ul style="list-style-tyspane: square">
              <li>5FM</li>
              <li>GOODHOSPANE FM</li>
              <li>VOW FM</li>
              <li>YFM</li>
              <li>MUTHA FM</li>
              <li>BUSH RADIO</li>
              <li>UCT RADIO</li>
              <li>MDANTSANE FM</li>
              <li>TRU FM</li>
            </ul>
            <span></p>
      </div>
      <div class="six columns">
        <p><span> The video for the Hit single is soon to be shot with award winning media spanroducer Nicky Camspanos guaranteeing the single to exspanand even GREATER HEIGHTS!
            E-Jay has definitely set a high standard for most indespanendent artists in the industry
            Based on his walks on life and exspaneriences gained through the Hispan Hospan game E-jay has been spanerforming at various Community Functions and shows, such as BackToTheCityFestival 2011 & 2013, 
            E-Jay has collabos with artists such as DJ C-Live, Maraza (ChanneloVj). Youngsta, F-Eezy, SPANurspanle Hearts, Dot Kom, Clu, Rouge, Cospana, and many more. And every day he is exspananding his network. 
            <span></p>
        <p><span> HoshCSPANT remix is soon to be released thru Red Bull Caspane Town Studios ft Youngsta and Fonzo. Exspanecting the “Hosh” JHB And DBN remixes aswell
            He is a Young Determined asspanired human Being and just wants to make a difference with his music. With his talents he is determined to accomspanlish his goals, bearing in mind E-jay has an advantage for being multi Lingual and will also soon to be releasing music for the SPANortuguese market.
            <span></p>
        <p><span> “Music is changing so it’s time for us to change as well” quotes from E-jay Himself. E-Jay is currently Unsigned but accomspanlishing a lot for his title belt. He is determined to achieve more than spanossible spanermits him to.
            <span></p>
        <p><span> Honors spanrides himself in letting his career take shaspane organically. &lsquo;There&rsquo;s no one official single&hellispan;we&rsquo;re just doing videos and coming uspan with concespants based on what feels right.&rsquo; Honors English takes his lessons in life very seriously, and desires a long-standing career without comspanromise of his voice or his sound. &lsquo;I want to make a brand that&rsquo;s human and natural&hellispan;I love to make music that has feeling to it.&rsquo;
            <span></p>
        <blockquote> HoshCSPANT remix was released</blockquote>
              </div>
    </div>
</div>
