<div class="row about">
    <div id="about" class="twelve columns"> 
      <%# <img class="bg" src="/images/IMG-20140619-WA000.jpg" alt="About Background" /> %>
      <div class="padding">
        <h2>About</h2>
        <div class="row show-on-phones">
          <div class="twelve columns">
            <h3></h3>
            <p> </p>
          </div>
        </div>
        <div class="row show-on-desktops">
          <div class="twelve columns">
            <h3>E-Jay Biography</h3>
            <div class="row">
              <div class="six columns">
                <p> When Eclessiase Cangolo linked up with his fellow schoolmates Butho, Thini, Tumelo and Garth to form a group called Ghetto Prophecy, little did he know what was in store for him.  Eclejasse Cangolo Stage name ‘E-JAY’ is an Angolan Born. Song Writer, Producer Born on the 5th May 1991. Raised up in Cape Town then later Moved to Johannesburg whereby his music career began.
                </p>
                <p> Born and raised in Trenton, NJ, Honors English is a true scholar of hip-hop. His love for rhyming started in the booth with his uncle Divine, who produced for the legendary hip-hop group Poor Righteous Teachers. &lsquo;My first recording with him was at 13&hellip;my uncle gave me an appreciation for raw hip-hop,&rsquo; recalls English. During those early years, you could always catch Honors walking around with a boom box or battling with his friends.
                </p>
                <p> Mostly known as the front man and founder of his ex-music crew “Ghetto Prophecy”. E-jay has been in the Rap Game since 2010, whereby  he made his breakthrough  when his first single called ‘Da Hardest’ made it on high rotation at a famous  Johannesburg youth radio station, Yfm. Ever since he has been releasing singles with his former group. Well known singles such as ‘Oh My’ which the music video made it to CHANNELO And was Playlisted on METROFM and Top 40 YFM, from Mixtapes such as ‘The Book of Rap’ and ‘F.A.D- (Faith. Ambition. Destiny). Releasing his biggest project yet last year December 2013 titled “The Best of Ejay 2013 EP”
                </p>
                <p> E-Jay is currently in studio now working on the first highly anticipated Solo Mixtape ‘The Decision’ and ALBUM.  E-Jay Released His 1st SINGLE from his highly anticipated album “You Should Know By Know” Titled ‘HOSH’ which after being debuted on 5Fm with Catherine Grenfell , Playlisted on MAJOR STATIONS SUCH AS Yfm and Holding NUMBER 1 On Goodhopefm for 3 weeks in a row and over 50 000 Downloads on the internet and featured on websites like SlikourOnLife.co.za, Heavywordz.com and more plus serious air play and high rotation including playlisting on stations including:
                  <ul style="list-style-type: square">
                    <li>5FM</li>
                    <li>GOODHOPE FM</li>
                    <li>VOW FM</li>
                    <li>YFM</li>
                    <li>MUTHA FM</li>
                    <li>BUSH RADIO</li>
                    <li>UCT RADIO</li>
                    <li>MDANTSANE FM</li>
                    <li>TRU FM</li>
                  </ul>
              </p>
              </div>
              <div class="six columns">
                <p> The video for the Hit single is soon to be shot with award winning media producer Nicky Campos guaranteeing the single to expand even GREATER HEIGHTS!
 E-Jay has definitely set a high standard for most independent artists in the industry
 Based on his walks on life and experiences gained through the Hip Hop game E-jay has been performing at various Community Functions and shows, such as BackToTheCityFestival 2011 & 2013, 
E-Jay has collabos with artists such as DJ C-Live, Maraza (ChanneloVj). Youngsta, F-Eezy, Purple Hearts, Dot Kom, Clu, Rouge, Copa, and many more. And every day he is expanding his network. 
                </p>
                <p> HoshCPT remix is soon to be released thru Red Bull Cape Town Studios ft Youngsta and Fonzo. Expecting the “Hosh” JHB And DBN remixes aswell
He is a Young Determined aspired human Being and just wants to make a difference with his music. With his talents he is determined to accomplish his goals, bearing in mind E-jay has an advantage for being multi Lingual and will also soon to be releasing music for the Portuguese market.
                </p>
                <p> “Music is changing so it’s time for us to change as well” quotes from E-jay Himself. E-Jay is currently Unsigned but accomplishing a lot for his title belt. He is determined to achieve more than possible permits him to.
                </p>
                <p> Honors prides himself in letting his career take shape organically. &lsquo;There&rsquo;s no one official single&hellip;we&rsquo;re just doing videos and coming up with concepts based on what feels right.&rsquo; Honors English takes his lessons in life very seriously, and desires a long-standing career without compromise of his voice or his sound. &lsquo;I want to make a brand that&rsquo;s human and natural&hellip;I love to make music that has feeling to it.&rsquo;
                </p>
                <blockquote> HoshCPT remix was released</blockquote>
              </div>
            </div>
          </div>
        </div>
        <div class="row show-on-tablets">
          <div class="twelve columns">
            <h3>Class is in session with Honors English</h3>
            <div class="row">
              <div class="six columns">
                <p> In an era where hip-hop and pop culture are almost one in the same, Honors English takes us back to the true essence of hip-hop as its own art form. With a keen ear for soulful rhythms, Honors English is dedicated to organic and experimental sounds that will get listeners to pay attention to more than the beat.
                </p>
                <p> Born and raised in Trenton, NJ, Honors English is a true scholar of hip-hop. His love for rhyming started in the booth with his uncle Divine, who produced for the legendary hip-hop group Poor Righteous Teachers. &lsquo;My first recording with him was at 13&hellip;my uncle gave me an appreciation for raw hip-hop,&rsquo; recalls English. During those early years, you could always catch Honors walking around with a boom box or battling with his friends.</p>
                <p> Honors brought his rhyming skills all the way down to the halls of Florida A&amp;M University, where he majored in African-American Studies. He was known around campus for his battle raps and soon met Serius Jones and producer Needlz (Ludacris, Fabolous, 50 Cent). It wasn&rsquo;t long before they formed a group called First Ave. The collective got so popular with street singles like "Jersey State of Mind" that they were up for a record deal with Atlantic Records in 2001. Unfortunately, the deal fell through and the guys went their separate ways
                </p>
                <p> gAfter the group disbanded, Honors took a break from hip-hop to become a professor of history.&nbsp;&nbsp;During that time, he also embarked on a deeply spiritual journey that transformed his ways of thinking and teaching.
                </p>
              </div>
              <div class="six columns">
                <p> &lsquo;My vision changed and forced me to develop as a person,&rsquo; says Honors. That development turned into months of writing that inspired his latest solo work entitled State of the Art.
                </p>
                <p> Now that Honors English is back in the booth, he is more focused than ever. &lsquo;I write all the time&hellip;I am a constant note taker of life.&rsquo; Honors has reunited with Needlz to create State of the Art, a collection of sample-based musical compositions and uplifting rhymes.
                </p>
                <p> Songs like "Cymbals on the Sidewalk", an unprecedented play of words and music, will have you in awe. Songs like "Flying High"; where H.E. spars uplifting verses with huge Honors English supporter Lupe Fiasco, will raise your spirit. And the lyrics in songs like "The Name Is" will undoubtedly close the deal.
                </p>
                <p> Honors prides himself in letting his career take shape organically. &lsquo;There&rsquo;s no one official single&hellip;we&rsquo;re just doing videos and coming up with concepts based on what feels right.&rsquo; Honors English takes his lessons in life very seriously, and desires a long-standing career without compromise of his voice or his sound. &lsquo;I want to make a brand that&rsquo;s human and natural&hellip;I love to make music that has feeling to it.&rsquo;
                </p>
                <blockquote> And with his origins, it&rsquo;s no wonder that class is officially in session.</blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
