<script type='text/javascript' src='scripts/jquery.min.js'></script>
<script type='text/javascript' src='scripts/jquery.mobile.customized.min.js'></script>
<script type='text/javascript' src='scripts/jquery.easing.1.3.js'></script> 
<script type='text/javascript' src='scripts/camera.min.js'></script> 
<script>
  jQuery(function(){
  
  jQuery('#camera_wrap_1').camera({
  thumbnails: true
  });
  
  jQuery('#camera_wrap_2').camera({
  height: '400px',
  loader: 'bar',
  pagination: false,
  thumbnails: true
  });
  });
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="row home">
  <div id="home" class="twelve columns"> 
    <%# <img class="home-bg" src="/images/IMG-20140618-WA011.jpg" alt="Trailer Placeholder" /> %>
    <div class="row hide-on-phones">
      
    </div>
    <div class="row show-on-phones">
      <div class="two columns"> 
        <img class="logo small" src="/images/logo.png" alt="Honors English Logo" />
      </div>
    </div>
    <div class="padding">
      <div class="row trailer">
        <div class="fluid_container">
          <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
            <div data-thumb="../images/slides/thumbs/bridge.jpg" data-src="../images/slides/bridge.jpg">
              <div class="camera_caption fadeFromBottom">
                Camera is a responsive/adaptive slideshow. <em>Try to resize the browser window</em>
              </div>
            </div>
            <div data-thumb="images/slides/thumbs/leaf.jpg" data-src="images/slides/leaf.jpg">
              <div class="camera_caption fadeFromBottom">
                It uses a light version of jQuery mobile, <em>navigate the slides by swiping with your fingers</em>
              </div>
            </div>
            <div data-thumb="images/slides/thumbs/road.jpg" data-src="images/slides/road.jpg">
              <div class="camera_caption fadeFromBottom">
                <em>It's completely free</em> (even if a donation is appreciated)
              </div>
            </div>
            <div data-thumb="images/slides/thumbs/sea.jpg" data-src="images/slides/sea.jpg">
              <div class="camera_caption fadeFromBottom">
                Camera slideshow provides many options <em>to customize your project</em> as more as possible
              </div>
            </div>
            <div data-thumb="images/slides/thumbs/shelter.jpg" data-src="images/slides/shelter.jpg">
              <div class="camera_caption fadeFromBottom">
                It supports captions, HTML elements and videos and <em>it's validated in HTML5</em> (<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.pixedelic.com%2Fplugins%2Fcamera%2F&amp;charset=%28detect+automatically%29&amp;doctype=Inline&amp;group=0&amp;user-agent=W3C_Validator%2F1.2" target="_blank">have a look</a>)
              </div>
            </div>
            <div data-thumb="images/slides/thumbs/tree.jpg" data-src="images/slides/tree.jpg">
              <div class="camera_caption fadeFromBottom">
                Different color skins and layouts available, <em>fullscreen ready too</em>
              </div>
            </div>
              </div><!-- #camera_wrap_1 -->

    	      
            </div>
      </div>
    </div>
  </div>
  
  <div class="row connect">
    <div id="connect" class="twelve columns">
      <div class="four columns">      
        <div class="clearfix"></div>
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FEJAYCPT&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;" allowTransparency="true"></iframe>
      </div>
      
 
    
      <div class="four columns"> 
        <div class="clearfix"></div>
        <a class="twitter-timeline"  href="https://twitter.com/hypej10" data-widget-id="520557610890567681">Tweets by @hypej10</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        
      </div>
    </div>
  </div>
</div>

