<div class="col-lg-10 col-md-9 col-sm-12"> 
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="images/uploads/deadGwadz/ejay-sahha.jpg" alt="sahha" />
        <div class="carousel-caption">
          Sahha Best mixtape nominee
        </div>
      </div>
      <div class="item">
        <img src="images/uploads/deadGwadz/3.jpg" alt="Dg" />
        <div class="carousel-caption">
          Sparks media
        </div>
      </div>
    </div>
  </div>
</div>    
<div class="col-lg-10 col-md-9 col-sm-12">
<h3>Upcoming Gigs</h3> 
</div>
<!--/. SUBSCRIBE DIV-->
<div class="col-md-6 col-md-offset-3">

</div>
    
