<div class="row music">
    <div id="music" class="twelve columns">
      <div class="padding">
        <h2>MUSIC</h2>
        <div class="row">
          <div id="album-holder" class="twelve columns"></div>
        </div>
        <ul class="block-grid five-up album-thumbs">
          <li class="thumb-holder"> 
            <a class="album-thumb" href="/music/state-of-the-art"> 
              <img class="color" src="/images/uploads/2/honors_english_state_of_the_art_front_cover__medium.jpg" title="Honors english state of the art front cover"/> 
              <img src="/images/made/7123baee2f2e5ab9/honors_english_state_of_the_art_front_cover__medium_300_300_gra_http:thehonrssociety.comthemessite_themeshonrsimagesoverlay.png_0_0_100_repeat_0__multiply.jpg" class="bw" width="300" height="300" alt="" /> 
            </a>
          </li>
          <li class="thumb-holder"> 
            <a class="album-thumb" href="/music/honors-english-fathers-daughters-freestyle"> 
              <img class="color" src="/images/uploads/50/he_fathers_final__medium.jpg" title="He fathers final"/> 
              <img src="/images/made/81cd0c2e968995a0/he_fathers_final__medium_300_300_gra_http:thehonrssociety.comthemessite_themeshonrsimagesoverlay.png_0_0_100_repeat_0__multiply.jpg" class="bw" width="300" height="300" alt="" /> 
            </a>
          </li>
          <li class="thumb-holder"> 
            <a class="album-thumb" href="/music/honors-english-colder-theraflu-freestyle"> 
              <img class="color" src="/images/uploads/25/honors_colder__medium__medium.jpeg" title="Honors colder  medium"/> 
              <img src="/images/made/9f3a920e9edbe7ab/honors_colder__medium__medium_300_300_gra_http:thehonrssociety.comthemessite_themeshonrsimagesoverlay.png_0_0_100_repeat_0__multiply.jpeg" class="bw" width="300" height="300" alt="" />
            </a>
          </li>
          <li class="thumb-holder"> 
            <a class="album-thumb" href="/music/fresh-out-the-toaster"> 
              <img class="color" src="/images/uploads/4/freshout_single_artwork__medium.jpg" title="Freshout single artwork"/> 
              <img src="/images/made/b27f5ed0ae3df217/freshout_single_artwork__medium_300_300_gra_http:thehonrssociety.comthemessite_themeshonrsimagesoverlay.png_0_0_100_repeat_0__multiply.jpg" class="bw" width="300" height="300" alt="" /> 
            </a>
          </li>
          <li class="thumb-holder"> 
            <a class="album-thumb" href="/music/crazaay-single"> 
              <img class="color" src="/images/uploads/15/crazay__medium.jpg" title="Crazay"/> 
              <img src="/images/made/cdcb8c79ac5a77c5/crazay__medium_300_300_gra_http:thehonrssociety.comthemessite_themeshonrsimagesoverlay.png_0_0_100_repeat_0__multiply.jpg" class="bw" width="300" height="300" alt="" /> 
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
