
<!DOCTYPE html lang="en"> 
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta property="og:image" content="/images/Honors-English-FB-OG.jpg" />
  <meta property="og:title" content="Ejay"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://ejay.co.za"/>
  <title>Ejay</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="robots" content="index,follow,archive" />
  <meta name="geo.position" content="," />
  <meta name="geo.placename" content="" />
  <meta name="geo.region" content="" /><link rel="icon" type="image/png" href="/images/favicon.ico" />
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="js/redvillage.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  <link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
  <link rel="stylesheet" href="/cache/00000000006f4382f065a523b8567d2388878276ef.css">
  <link rel='stylesheet' id='camera-css'  href='css/camera.css' type='text/css' media='all'> 
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


</head>
<body class="honors" data-spy="scroll" data-target="#navbar" data-offset="100">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div class="container">
    <div class="row show-on-desktops">
      <div id="navbar" class="twelve columns nav-row">
        <ul class="nav clearfix">
          <li><a href="index">Home</a></li>
          <li><a href="music">Music</a></li>
          <li><a href="gallery">Gallery</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </div>
    </div>
    <%= yield %>
    
  </div>  
  
</body>
</html>
